/*Timer.js test*/
body {
    margin: 0;
    font-family: monospace;
    background: #5da7fa;
    padding-top: 10vh;
}

.well {
    max-width: 500px;
    display: block;
    margin: auto;
    background: #fff;
    padding: 30px;
    border-radius: 5px;
    line-height: 20px;
    margin-bottom: 10px;
    text-align: center;
}

time {
    font-size: 21px;
    display: block;
    margin-top: 50px;
}
